* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: darkblue;
    height: 100vh;
    width: 100vw;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;


}

.container {
    margin: 50px;
    background-color: white;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;



}

.container.home {
    flex-direction: column;
    height: 80vh;
}

.logs {
    display: flex;

}

h1 {
    background-color: darkblue;
    color: white;
    padding: 26px;
    margin: 32px;
    font-size: 30px;
    border-radius: 10px;
}

a:hover {
    color: brown;
}

.a-color {
    color: white;
}

a {
    text-decoration: none;
    color: darkblue;

}

.img-container {
    height: 100%;

}

header {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20PX;
}

.main-container {
    width: 70%;
    padding: 40px 100px 40px 100px;



}

.input-field-1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

input {
    font-size: 20px;
    border-radius: 8px;
    padding: 16px;
}

input::placeholder {
    font-size: 16px;
}

input:focus-visible {
    border: 2px solid rgb(206, 56, 56) !important;
}

.input-1 {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;


}

label {
    margin-bottom: 10px;
}



.span-1 {
    font-size: 35px;
    margin-top: 12px;
    width: 100%;
    display: flex;

    align-items: center;
}

.span-1 hr {
    display: inline;
    width: 70%;
    height: 4px;
    background-color: black;
}

.span-1 hr:first-child {
    margin-right: 8px;
}

.span-1 hr:last-child {
    margin-left: 8px;
}


.sign-in {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h4 {
    border: 2px solid darkblue;
    padding: 18px;
    border-radius: 16px;
}

.icon {
    display: flex;

}

.box-1 {
    background-color: brown;
    border: 3px solid blue;
    height: 40px;
    width: 40px;
    margin-right: 24px;

}

.check {
    font-size: 18px;
    padding: 6px;
    display: flex;
    align-items: center;
}

.check span {
    margin-left: 8px;
}

button {
    width: 100%;
    padding: 16px;
    background-color: darkblue;
    color: white;
    border-radius: 16px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type='checkbox'] {
    border: 2px solid blue !important;
    font-size: 20px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

input:checked {
    background-color: blue !important;
}

.pass-bars {
    display: flex;
}

.pass-bars hr {
    display: inline;
    width: 70%;
    height: 12px;
    background-color: darkblue;
    margin-right: 16px;
    margin-top: 10px;
    margin-bottom: 10PX;
    border-radius: 6PX;
}

.pass-bars hr:last-child {
    margin-right: 0;
}

.Log {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

.Log span {
    color: blue;
    font-size: 26px;
}